six>=1.11.0
cloudaux==1.5.0
celery==4.2.0
celery[redis]==4.2.0
redis==2.10.6
Flask==0.12.2           # Need to upgrade this with Flask-SqlAlchemy.
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-Principal==0.4.0
Flask-RESTful==0.3.6
Flask-SQLAlchemy==1.0    # Upgrade this for SM release 1.2.0
Flask-Script==0.6.3
Flask-Security>=3.0.0
Flask-WTF>=0.14.2
Jinja2>=2.10
SQLAlchemy==1.2.7
boto>=2.48.0
ipaddr==2.2.0
itsdangerous==0.24
psycopg2==2.7.4
bcrypt==3.1.4
gunicorn==19.7.1
cryptography>=1.8.1
dpath==1.4.2
pyyaml>=3.12
jira==1.0.14
policyuniverse>=1.1.0.1
joblib>=0.9.4
pyjwt>=1.01
netaddr
swag-client>=0.4.1
idna==2.6
marshmallow==2.15.0
flask-marshmallow==0.8.0
